 .registrationForm-wrapper{
     align-items: center;
     justify-content: center;
     display: flex;
     flex-direction: column;
     line-height: 1.8;
     padding: 48px 40px 36px;
 }
 .registration-section{
    width:40%;
    height: 600px;
    line-height: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    align-content: center;
    border-radius: 8px;
    border: 2px solid var(--secondry);
 }
 #registration-name-input, #registration-username-input,
 #registration-password-input {
      width: 100%;
      padding: 12px 20px;
      /* font-size: 16px; */
      margin: 8px 0;
      display: inline-block;
      box-sizing: border-box;
      border-radius: 5px;
    }

     @media screen and (max-width: 500px) {
      .login-wrapper{
        padding: 0;
      }
      .login-section{
        width:90%;
        margin:55px 15px;
      }
    }
 @media screen and (max-width: 800px) {
      .login-wrapper{
        padding: 0;
      }
      .login-section{
           width: 90%;
          margin: 55px 15px;
          padding: 10px;
      }
    }