 .registrationForm-wrapper{
     align-items: center;
     display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
   
    
 }

 .registration-section{
  width:40%;
  line-height: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;

 }

 .sButton{
  background-color: rgba(0, 0, 0, 0.66);
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  font-size: 16px;
  border-radius: 10px;
  height: 42px;
  border: none;
  cursor: pointer;
  width: 100%
}
.sButton:hover {
opacity: 0.9;
color:var(--primary);
}

 #registration-name-input, #registration-username-input,
 #registration-password-input {
      width: 100%;
      padding: 12px 20px;
      /* font-size: 16px; */
      margin: 8px 0;
      display: inline-block;
      box-sizing: border-box;
      border-radius: 5px;
    }

    @media screen and (max-width: 500px) {
      .registrationForm-wrapper{
        padding: 0;
      }
      .registration-section{
        width:90%;
        margin:55px 15px;
      }
    }
 @media screen and (max-width: 800px) {
      .registrationForm-wrapper{
        padding: 0;
      }
      .registration-section{
          width: 90%;
          margin: 55px 15px;
          padding: 10px;
      }
    }