
   .login-section{
    width:40%;
    height: 500px;
    line-height: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
   
    
   }
   .login-section h2 {
     font-size: 35px;
     margin:0;

   }
   
   .login-wrapper{
     min-height: 500px;
     height: auto;
     margin: auto;
     align-items: center;
     justify-content: center;
     display: flex;
     flex-direction: column;
     line-height: 1.8;
     padding: 48px 40px 36px;
    
    }
    
   .LoginForm{
     width: 452px;
     max-width: 100%;
     margin-left: auto;
     margin-right: auto;
     padding-left: 16px;
     padding-right: 16px
    } 

   .Login-button{
      background-color: rgba(0, 0, 0, 0.66);
      color: white;
      padding: 10px 20px;
      margin: 8px 0;
      font-size: 16px;
      border-radius: 10px;
      height: 42px;
      border: none;
      cursor: pointer;
      width: 100%
    }
  .Login-button:hover {
    opacity: 0.9;
    color:var(--primary);
    }

   #login-username-input, #login-password-input {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    font-family: 'MaisonNeue','Helvetica',sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 42px;
    width: 544px;
    min-width: 210px;
    max-width: 100%;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 15px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    font-size: 16px;
    line-height: 36px;
    }

    @media screen and (max-width: 500px) {
      .login-wrapper{
        padding: 0;
      }
      .login-section{
        width:90%;
        margin:55px 15px;
      }
    }
 @media screen and (max-width: 800px) {
      .login-wrapper{
        padding: 0;
      }
      .login-section{
           width: 90%;
          margin: 55px 15px;
          padding: 10px;
      }
    }