  
   .login-section{
    width:40%;
    height: 500px;
    line-height: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    align-content: center;
    border-radius: 8px;
    border: 2px solid var(--secondry);
   }
   .login-section h2 {
     font-size: 35px;
    margin-top: 35px;
    margin-bottom: 0;

   }
   
   .login-wrapper{
     min-height: 500px;
     height: auto;
     margin: auto;
     align-items: center;
     justify-content: center;
     display: flex;
     flex-direction: column;
     line-height: 1.8;
     padding: 48px 40px 36px;
    
    }
    
   .LoginForm{
     height: 300px;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-around; 
     align-items: center;
    } 

   .Login-button{
      background-color: rgba(0, 0, 0, 0.66);
      color: white;
      padding: 10px 20px;
      margin: 8px 0;
      font-size: 24px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      width: 55%
    }
  .Login-button:hover {
  opacity: 0.9;
  color:var(--primary);
    }

   #login-username-input, #login-password-input {
      width: 100%;
      padding: 12px 20px;
      font-size: 16px;
      margin: 8px 0;
      display: inline-block;
      box-sizing: border-box;
      border-radius: 5px;
    }

    @media screen and (max-width: 500px) {
      .login-wrapper{
        padding: 0;
      }
      .login-section{
        width:90%;
        margin:55px 15px;
      }
    }
 @media screen and (max-width: 800px) {
      .login-wrapper{
        padding: 0;
      }
      .login-section{
           width: 90%;
          margin: 55px 15px;
          padding: 10px;
      }
    }